#masthead {
    .main-navigation {
        text-transform: uppercase;
        border-top: none;
        li {
            @include font-size($smaller);
            font-family: $font__bold;
        }

        ul {
            a {
                &:hover,
                &:focus {
                    background-color: $color__transparent;
                    color: darken($color__link,20%);
                }
            }
        }

    }
    .menu-toggle {
        background-color: $color__transparent !important;
        border: none;
        color: $color__link;
        text-transform: uppercase;
    }

    .site-branding {
        .custom-logo-link {
            .custom-logo {
                width: 100%;
                max-width: 170px;
                height: auto;
            }
        }
    }

}

@include breakpoint(md) {
    #masthead {
        .main-navigation {
            li {
                padding: 0 ($element__spacer * 4);
            }
        }
    }
}

#colophon {
    .footer-menu {
        text-transform: uppercase;
        li {
            @include font-size($smaller);
            font-family: $font__bold;
        }
    }
}


.icon {
    color: $color__white;
    @include font-size($h4);
}

.facebook .icon {
    @include icon-font(facebook, before);
}

.twitter .icon {
    @include icon-font(twitter, before);
}

.instagram .icon {
    @include icon-font(instagram, before);
}

.feed .icon,
.rss .icon {
    @include icon-font(feed, before);
}

.linkedin .icon {
    @include icon-font(linkedin, before);
}

.pinterest .icon {
    @include icon-font(pinterest, before);
}

.tumblr .icon {
    @include icon-font(tumblr, before);
}

.bottom-navigation ul {
    margin: 0 auto;
}
.footer-menu {
    
}

.youtube .icon {
    @include icon-font(youtube, before);
    
}

.email .icon {
    @include icon-font(envelope, before);
    
}
