#masthead {
    .main-navigation {
        text-transform: uppercase;
        border-top: none;
        li {
            @include font-size($smaller);
            font-family: $font__bold;
        }

        ul {
            a {
                &:hover,
                &:focus {
                    background-color: $color__transparent;
                    color: darken($color__link,20%);
                }
            }
        }

    }
    .menu-toggle {
        background-color: $color__transparent !important;
        border: none;
        color: $color__link;
        text-transform: uppercase;
    }

    .site-branding {
        .custom-logo-link {
            .custom-logo {
                width: 100%;
                max-width: 241px;
                height: auto;
            }
        }
    }

}

@include breakpoint(md) {
    #masthead {
        .main-navigation {
            li {
                padding: 0 ($element__spacer * 4);
            }
        }
    }
}

.inline-list {
    @include no-bullets;
}


// Drop-down Menu

 /* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;   
    height: 50px; 
}

 /* Dropdown Button */
.dropdown-link {
    background-color: $color__primary;
    color: $color__white;
    padding: 16px;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: darken($color__primary,10%);
    }
}

 /* Dropdown List */
.dropdown-list {
    @include no-bullets;
    display: none;
    top: 34px;
    position: absolute;
    background-color: $color__white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
        color: $color__foreground;
        padding: .25em .5em;
        text-decoration: none;
        display: block;

        &:hover,
        &:focus {
            background-color: $color__lightest-grey;
        }

    }

}

.show {
    .dropdown-list {
       display:block; 
    }
}


.back-to-top {
    position: fixed;
    background-color: $color__lightest-grey;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    text-decoration: none;
    color: $color__foreground;

    .icon {
        @include icon-font(chevron-up,after);
        color: $color__foreground;
        @include font-size($h2);
    }

}
 
  
 
.back-to-top i {
 
  font-size: 60px;
 
}



#colophon {
    .footer-menu {
        text-transform: uppercase;
        li {
            @include font-size($smaller);
            font-family: $font__bold;
        }
    }
}


.icon {
    color: $color__white;
    @include font-size($h4);
}

.facebook .icon {
    @include icon-font(facebook, before);
}

.twitter .icon {
    @include icon-font(twitter, before);
}

.instagram .icon {
    @include icon-font(instagram, before);
}

.feed .icon,
.rss .icon {
    @include icon-font(feed, before);
}

.linkedin .icon {
    @include icon-font(linkedin, before);
}

.pinterest .icon {
    @include icon-font(pinterest, before);
}

.tumblr .icon {
    @include icon-font(tumblr, before);
}

.bottom-navigation ul {
    margin: 0 auto;
}
.footer-menu {
    
}

.youtube .icon {
    @include icon-font(youtube, before);
    
}

.email .icon {
    @include icon-font(envelope, before);
    
}
