html,
body {}

.site{}

.content-area {}

.content-widgets {}

.site-header {}

.site-main {}

.site-content {}

.site-content .widget-area {}

.site-footer {}

/**
 * Containers
 */
.site-content-container,
.site-branding-container,
.main-navigation-container,
.footer-menu-container,
.footer-widget-container,
.site-info-container {
    width: $size__site-main;
}

.site-content-container {
    max-width: 950px;
}

/**
 * Footer
 */
#colophon {
    @extend %grid;
}

@include breakpoint(md) {
    
    #colophon {
        flex-direction: row-reverse;
        justify-content: space-between;

        .bottom-navigation,
        .footer-widgets {
            @include flex-grid-cols(2);
            padding-top: 1.5em;
        }
        .footer-menu {
            text-align: right;
        }

        .widget .wrap {
            padding-top: 0;
        }
    }

}