.page-events {
    #content {
        background-color: $color__background-panel;
    }
}

.event-list {
    transition: all .2s ease-in-out;
    margin-top: 1em;
    @extend %grid;
    justify-content: space-between;

    .entry {
        @extend %grid-col;
        padding: 1em;
        background-color: $color__white;
        text-align: center;
        transition: transform .2s ease-in-out;
        border: none;

        &:hover,
        &:focus {
            transform: translate3d(0, -4px, 0);
        }

        a {
            padding: .25em 0;
            
            &:hover,
            &:focus {
                padding: .25em 0;
            }
        }
    }

    .entry-title {
        margin: 0;
        @include font-size($h6);
        font-family: $font__main;
    }

    .entry-meta {
        padding-bottom: .5em;
        text-transform: uppercase;
        font-family: $font__heading;
        color: $color__black;
        @include font-size($smaller);

        a {
           color: $color__black; 
        }
    }
}

@include breakpoint(md) {
    
    .event-list  {
        .entry {
            @include flex-grid-cols(2);
        }
    }

}

@include breakpoint(lg) {
    
    .event-list  {
        .entry {
            @include flex-grid-cols(3);
        }
    }

}

.site-main .event-list {
     .event {
        padding: 1em;
     }
     .event-meta {
        .event-day,
        .event-date,
        .event-time {
            display: inline-block;
            padding-bottom: .5em;
            text-transform: uppercase;
            font-family: $font__heading;
            color: $color__black;
            @include font-size($smaller);

            a {
               color: $color__black; 
            }
        }
     }
     .category a {
        padding: .25em;
        background-color: $color__primary;
        color: $color__white;
     }
}