.home,
.page-home {

    #content {
        background-color: $color__background-panel;
    }

    &.singular-page .entry-header {
        display: block;
        visibility: visible;
    }

    .intro-content {
        margin-right: $element__width-offset;
        margin-left: $element__width-offset;
        background-size: cover;
        background-position: center center;
    }

    .entry.intro-content {
        border-top-color: $color__transparent;
        border-top-width: 1px; 
        p {
            @include font-size($h6);
        }
    }

    .entry-content {
        width: 100%;
        max-width: $size__max-width;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        color: $color__white;

    }

    .home-widgets {
        .widget .wrap {
            padding: 0;
        }
        .siteorigin-widget-tinymce > p {
            margin-top: 0;
        }
        .widget-title {
            @include font-size($h4);
            text-transform: none;
        }
        .category,
        .tags {
            @include screen-reader-text;
        }
    }

    #colophon {
        margin-top: 0;
    }

}


.home,
.page-home {
    .intro-content {

        .entry-content {
            @extend %grid;
            align-items: center;
            justify-content: center;

            .intro-text,
            .intro-video {
                @extend %grid-col;
            }

            .intro-video {
                border-radius: 25%;
                padding: 3em 0;
                text-align: center;
                background-color: rgba($color__black,.3);
            }
        }
    }

    .home-widgets {
        .post-list {
            transition: all .2s ease-in-out;
            margin-top: 1em;
            @extend %grid;
            justify-content: space-between;

            li {
                @extend %grid-col;
                padding: 1em;
                margin-bottom: .5em;
                background-color: $color__white;
                text-align: center;
                border: none;
                transition: transform .2s ease-in-out;

                &:hover,
                &:focus {
                    transform: translate3d(0, -4px, 0);
                }

                a {
                    padding: .25em 0;

                    &:hover,
                    &:focus {
                        padding: .25em 0;
                    }
                }
            }

            .entry-title {
                margin: 0;
                @include font-size($h6);
                font-family: $font__main;
            }

            .entry-meta {
                padding-bottom: .5em;
                text-transform: uppercase;
                font-family: $font__heading;
                color: $color__black;
                @include font-size($smaller);
                a {
                   color: $color__black; 
                }
            }

            .byline {
                @include screen-reader-text;
            }

        }
    }
}

@include breakpoint(md) {
    .home,
    .page-home {
        .intro-content {
            .entry-content {
                padding: .5em;

                .intro-text {
                    flex: 0 0 75%;
                }
                .intro-video {
                    flex: 0 0 25%;
                }
            }
        }
        .home-widgets {
            &.per-row-1,
            &.per-row-2,
            &.per-row-2 {
                .widget {
                    width: 100%;
                }
            }

            .post-list {
                li {
                    @include flex-grid-cols(2);
                }
            }
        }
    }
}

@include breakpoint(lg) {
    .home,
    .page-home {
        .home-widgets {
            .post-list {
                li {
                    @include flex-grid-cols(3);
                }
            }

        }
    }
}


.link-video-modal {
    color: $color__white;
    @include font-size($h2);
    @include icon-font(play, before);
    &:after {
        content: 'Watch the Video';
        display: block;
        @include font-size($h6);
    }

    &:hover,
    &:focus,
    &:visited {
        color: $color__white;
    }
}
